.texto {
    margin: 40px auto;
    background-color: rgb(193, 188, 188);
    width: 30%;
    text-align: center;
}

.conteudo{
    text-align: center;
}

.conteudo img {
    width: 15%;  
    height: auto;  
}