<div class="container">
    <p></p>Parabéns!! Você ganhou!
    <p>Mande um print desta tela para o Zé para retirar seu prêmio!</p>
</div>
<div style="text-align: center;">
    <img src="https://www.freeiconspng.com/thumbs/trophy-png/trophy-png-23.png" alt="">
    <div>Pontuação: </div>
    <p></p>
        <button class="btn btn-primary" routerLink="/">Sair</button> &nbsp;
        <button class="btn btn-primary">Jogar novamente</button> &nbsp;
        <button class="btn btn-primary">Próximo puzzle</button>
</div>