* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1{
    border-bottom-style: solid;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

main {
    width: 600px;
    display: grid;
    grid-template-rows: repeat(5, 100px);
    grid-gap: 10px;
    grid-auto-flow: column;
    margin-left: auto;
    margin-right: auto; 
    align-items: center;
    align-content: center;
    padding: 10px;
}
  
