<tbody>
  <tr>
    <!--logo solograma-->
<div class="container">
  <a href="https://imgbb.com/"><img src="https://i.ibb.co/1XC1cBq/solo.png" alt="solo" class="center"></a>
</div> <!--logo solograma-->

<div class="body" style="width: 100%;"><h1 class="box">Nonogramas</h1></div>

<div style = "position:relative; left:650px;">
<p>
  <button type="button" class="btn btn-success btn-lg " >5x5</button></p>
<p>  
  <button type="button" class="btn btn-warning btn-lg ">10x10</button></p>
<p> 
  <button type="button" class="btn btn-danger btn-lg ">15x15</button></p> 
<p> 
  <button type="button" class="btn btn-dark btn-lg ">Desafio</button></p>
</div>

<div><h1 class="box">Como jogar</h1></div>
<p class="howto">Neste jogo, o objetivo é pintar os quadrados de acordo tanto com a coluna quanto com a linha. Cada sequência
  de números indica a quantidade de quadrados a serem pintados, seguidos de pelo menos 1 espaço em branco. Por exemplo:
</p>
<!--como jogar: imgaem-->
<div style = "position:relative; left:580px;">
  <img src="https://i.ibb.co/kKxcJjL/puzzle-nonograms.png" alt="puzzle-nonograms">
</div> <!--como jogar: imagem-->
<!--linha vertical-->
<td style="height:100%;vertical-align:top;" >
  <table cellspacing="0" cellpadding="0" style="border:0px;width:1px;vertical-align:top; margin-left: -10px;"><tbody><tr style="height:100%">
  <td style="vertical-align:top;height:640px;width:1px;background:#aaa"></td>
  </tr></tbody></table></td> 
  <!--linha vertical-->
  <!--placar-->
      <table border="1" style="margin-right: 10px;"> 
        <h3 style="margin-left: 32%;">Scoreboard</h3>
        <tr>
            <th>Nome</th>
            <th>Pontos</th>
        </tr>
        <tr>
            <td>Pedro</td>
            <td>300</td>
        </tr>
        <tr>
            <td>Lucas</td>
            <td>260</td>
        </tr>
    </table> <!--placar-->
  </tr>
</tbody>



      