.container-all{
    position: relative;
    top: 0;
    padding: 0;
    width: 100%;
}

.logo {
    position: absolute;
    left: 37.5%;
    width: 30%;
    top: 0;
}

.tamanho-nonograma {
    position: absolute;
    left: 12.5%;
    width: 75%;
    padding-top: 200px;
    text-align: center;
    cursor: pointer;
}


.como-jogar{
    position: absolute;
    left: 12.5%;
    width: 75%;
    padding-top: 500px;
    text-align: start;
}
.img-como-jogar {
   position: relative;
   top: 100%;
   left: 45%;
   width: 20%;
}

.placar{
    position: absolute;
    /* left: 81%;  */
    right: 0;
    top: 0;
}
h1 {
    padding: 0;
    text-align: left;
    background: 0;
    border-bottom: 1px solid #aaa;
    color: black;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    font-size: 18px;
    font-weight: normal;
    width: 85%;
    border-width: 100%;
    margin-left: 10%;   
}

.vertical {
    position: absolute;
    top: 100%;
    /* left: 86.31%; */
    left: 0;
    height: 400%;
    border-right: 1px solid #aaa;
}


.howto {
    width: 85%;
    margin-left: 10%;
}
.verticalLine {
    border-left: thick solid #aaa;
    border-width: 100%;
    text-align: right; 
}
.page-container {
    margin: 0 auto;
    text-align: left;
    width: 83%;
}

button {
    width: 100px;
}

table{ 
    background: lightblue; 
    border-color: black; 
    border-style: solid; 
    width: 12.5%; 
}
th{
    background: #666; 
    color: white;
}