<div class="container-all">
    <img src="https://i.ibb.co/wMQ89rB/solo-removebg-preview.png" alt="solo-removebg-preview" border="0" class="logo">
  <div class="tamanho-nonograma">
    <h1>Nonogramas</h1>
    <p>
      <button type="button" class="btn btn-success btn-lg">5x5</button>
    </p>
    <p>
      <button type="button" class="btn btn-warning btn-lg ">10x10</button>
    </p>
    <p>
      <button type="button" class="btn btn-danger btn-lg ">15x15</button>
    </p>
    <p>
      <button type="button" class="btn btn-dark btn-lg ">Desafio</button>
    </p>
  </div>
  <div class="como-jogar">
    <h1>Como jogar</h1>
    <p class="howto">
      Neste jogo, o objetivo é pintar os quadrados de acordo tanto com a coluna quanto com a linha. Cada sequência
      de números indica a quantidade de quadrados a serem pintados, seguidos de pelo menos 1 espaço em branco. Por
      exemplo:
    </p>
    <div class="img-como-jogar">
      <img src="https://i.ibb.co/kKxcJjL/puzzle-nonograms.png" alt="puzzle-nonograms">
    </div>
  </div>
  <table class="placar">
    <div class="vertical"></div>
    <h3>Scoreboard</h3>
    <tr>
      <th>Nome</th>
      <th>Pontos</th>
    </tr>
    <tr>
      <td>Pedro</td>
      <td>300</td>
    </tr>
    <tr>
      <td>Lucas</td>
      <td>260</td>
    </tr>
  </table>
</div>
    
    

    