/* .tamanho-nonograma { isso deixava os botões "inclickáveis"
    position: absolute;
    /* left: 12.5%; 
    width: 100%;
    padding-top: 20px;
    text-align: center;
} */
.tamanho-nonograma {
    text-align: center;
    padding-top: 20px;
}
.como-jogar{
    position: absolute;
    /* left: 12.5%; */
    width: 100%;
    text-align: start;
}
.img-como-jogar {
   position: relative;
   top: 100%;
   left: 40%;
   width: 20%;
}
.vertical {
    position: absolute;
    top: 100%;
    /* left: 86.31%; */
    left: 0;
    height: 400%;
    margin-left: 50%;
    /* border-right: 1px solid #aaa; */
}
.placar{
    position: absolute;
    /* left: 81%;  */
    margin-left: 50%;
    top: 20%;
    width: 500px;
}
.howto {
    width: 85%;
    margin-left: 5%;
}
h1 {
    padding: 0;
    text-align: left;
    background: 0;
    border-bottom: 1px solid #aaa;
    color: black;
    padding-bottom: 0.17em;
    font-size: 18px;
    font-weight: normal;
    width: 85%;
    border-width: 100%;
    margin-left: 5%;    
}
button {
    width: 200px;
    height: 150px;   
}
table{ 
    background: lightblue; 
    border-color: black; 
    border-style: solid; 
    width: 12.5%; 
    
}
th{
    background: #666; 
    color: white;
    text-align: left;
}
td {
    left: 10%;
}