h1{
    border-bottom-style: solid;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.wrapper {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
}
  
.wrapper button{
    margin: auto;
    height: 130px;
    width: 130px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  
.wrapper .btn4{
    background-color: #012E40;
}
  
.wrapper .btn3{
    background-color: #024959;
}
  
.wrapper .btn2{
    background-color: #026773;
}
  
.wrapper .btn1{
    background-color: #3CA6A6;
}
  
.score {
    width: 300px;
}
  
.score table{
    margin: auto;
    width: 285px;
    height: 285px;
    table-layout: fixed;
    border-radius: 5px;
    background: lightgray; 
    text-align: center;
}
  
  .score th:nth-child(1){
    background: #666;
    border-top-left-radius: 5px;
    color: white;
  }
  
  .score th:nth-child(2){
    background: #666;
    border-top-right-radius: 5px;
    color: white;
  }
  
  .score td{
    border-radius: 5px;
  }
  
  .footer{
    position: absolute;
    width: 90%;
    margin-left: 5%;
    text-align: center;
  }
  
  .footer p{
    margin-bottom: 10px;
  }
  
  .footer img{
    width: 200px;
    position: relative;
    align-items: center;
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 850px){
    .menu{
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
      .navbar img{
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
  
    h1{
      text-align: center;
    }
  }